{"openapi":"3.1.0","info":{"title":"Viserio Cooldowns Public API","version":"v1","description":"v1: roster, raid resets and setups, calendar events and signups, Mythic+ keys, loot, note and assignment structure, and a feed of what's changed, for your group. Your key can also write: add and update roster members, create and delete setups, set who plays on a setup and per-boss assignments, set signup statuses, import a droptimizer from a sim link, and push your group's in-game gear snapshot. Reads and writes share one hourly point budget for your group, and writes cost more. Still stabilizing, so pin to /v1 and expect occasional refinements before it is marked stable. See the ToS and Acceptable Use policies."},"servers":[{"url":"https://api.wowutils.com","description":"Production"}],"components":{"schemas":{"Page":{"type":"object","properties":{"total":{"type":"integer","example":1},"limit":{"type":"integer","example":50},"nextCursor":{"type":["string","null"],"example":null}},"required":["total","limit","nextCursor"]},"LinkedReset":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"setupName":{"type":"string","example":"Heroic Progression"},"links":{"type":"object","properties":{"reset":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["reset"]}},"required":["resetId","setupName","links"]},"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["invalid_key","group_not_shared","not_found","invalid_request","payload_too_large","rate_limited","ip_throttled","upgrade_required","api_overloaded","internal"],"description":"Machine-readable error code."},"message":{"type":"string","example":"group has API sharing disabled"},"requestId":{"type":"string","example":"req_2f9c1a7b"}},"required":["code","message","requestId"]}},"required":["error"]},"Root":{"type":"object","properties":{"apiVersion":{"type":"string","enum":["v1"]},"stability":{"type":"string","enum":["v0-unstable"]},"group":{"type":"object","properties":{"groupId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Wednesday Heroic"}},"required":["groupId","name"]},"rateLimit":{"type":"object","properties":{"limitPerHour":{"type":"integer","example":225},"remaining":{"type":"integer","example":74},"resetAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["limitPerHour","remaining","resetAt"]},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"roster":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"resets":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"notes":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"docs":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group","roster","resets","notes","docs"]}},"required":["apiVersion","stability","group","rateLimit","links"]},"Guild":{"type":"object","properties":{"region":{"type":"string","example":"eu"},"realm":{"type":"string","example":"tarren-mill"},"name":{"type":"string","example":"My Guild"}},"required":["region","realm","name"]},"Boost":{"type":"object","properties":{"totalPoints":{"type":"integer","example":12},"tier":{"anyOf":[{"type":"number","enum":[1]},{"type":"number","enum":[2]},{"type":"number","enum":[3]},{"type":"number","enum":[4]}],"description":"Quota tier: 1, 2, 3, or 4.","example":2}},"required":["totalPoints","tier"]},"GroupSummary":{"type":"object","properties":{"groupId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Wednesday Heroic"},"memberCount":{"type":"integer","example":24},"guild":{"allOf":[{"$ref":"#/components/schemas/Guild"},{"type":["object","null"]}]},"apiSharing":{"type":"object","properties":{"enabled":{"type":"boolean","enum":[true]}},"required":["enabled"]},"boost":{"$ref":"#/components/schemas/Boost"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"roster":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"resets":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"notes":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","roster","resets","notes"]}},"required":["groupId","name","memberCount","guild","apiSharing","boost","links"]},"GroupDetail":{"type":"object","properties":{"groupId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Wednesday Heroic"},"memberCount":{"type":"integer","example":24},"guild":{"allOf":[{"$ref":"#/components/schemas/Guild"},{"type":["object","null"]}]},"apiSharing":{"type":"object","properties":{"enabled":{"type":"boolean","enum":[true]}},"required":["enabled"]},"boost":{"$ref":"#/components/schemas/Boost"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"roster":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"resets":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"notes":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","roster","resets","notes"]}},"required":["groupId","name","memberCount","guild","apiSharing","boost","links"]},"GroupList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GroupSummary"}},"page":{"$ref":"#/components/schemas/Page"}},"required":["data","page"]},"RosterCharacter":{"type":"object","properties":{"playerId":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"},"name":{"type":"string","example":"Thrall"},"realm":{"type":["string","null"],"example":"tarren-mill"},"class":{"type":"string","example":"Shaman"},"spec":{"type":"string","example":"Enhancement"},"status":{"type":"string","enum":["main","alt","inactive"]},"inactive":{"type":"boolean"},"order":{"type":"integer","description":"0-based integer order.","example":0}},"required":["playerId","name","realm","class","spec","status","inactive","order"]},"RosterMember":{"type":"object","properties":{"memberId":{"type":"string","description":"Opaque roster member id (not a Battle.net id)."},"displayName":{"type":"string","example":"Thrall"},"alias":{"type":["string","null"]},"battletag":{"type":["string","null"],"example":"Thrall#1234"},"rank":{"type":"string","enum":["GM","Officer","Raider","Trial","Social"]},"mainRole":{"type":["string","null"],"enum":["tank","healer","melee","ranged",null]},"claimed":{"type":"boolean"},"joinedAt":{"type":["string","null"],"format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"mainCharacter":{"type":["string","null"],"description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"},"characters":{"type":"array","items":{"$ref":"#/components/schemas/RosterCharacter"}}},"required":["memberId","displayName","alias","battletag","rank","mainRole","claimed","joinedAt","mainCharacter","characters"]},"Roster":{"type":"object","properties":{"groupId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"exportedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"memberCount":{"type":"integer","example":24},"characterCount":{"type":"integer","example":41},"members":{"type":"array","items":{"$ref":"#/components/schemas/RosterMember"}},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["groupId","exportedAt","memberCount","characterCount","members","links"]},"RosterCharacterWrite":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":50,"example":"Thrall"},"realm":{"type":"string","minLength":1,"maxLength":100,"example":"tarren-mill"},"status":{"type":"string","enum":["main","alt","inactive"],"description":"Defaults to \"alt\" for a newly added character."}},"required":["name","realm"]},"RosterMemberCreateBody":{"type":"object","properties":{"displayName":{"type":"string","minLength":2,"maxLength":20,"example":"Mitch"},"rank":{"type":"string","enum":["GM","Officer","Raider","Trial","Social"],"description":"Defaults to \"Raider\".","example":"Raider"},"mainRole":{"type":"string","enum":["tank","healer","melee","ranged"],"description":"The member's main role.","example":"healer"},"battletag":{"type":"string","maxLength":50,"example":"Mitch#2814"},"alias":{"type":"string","maxLength":20,"example":"mitchy"},"characters":{"type":"array","items":{"$ref":"#/components/schemas/RosterCharacterWrite"},"maxItems":50}},"required":["displayName"]},"RosterMemberUpdateBody":{"type":"object","properties":{"displayName":{"type":"string","minLength":2,"maxLength":20},"rank":{"type":"string","enum":["GM","Officer","Raider","Trial","Social"],"description":"Roster rank.","example":"Raider"},"mainRole":{"type":"string","enum":["tank","healer","melee","ranged"],"description":"The member's main role.","example":"healer"},"battletag":{"type":"string","maxLength":50,"description":"Only on unclaimed members; \"\" clears it."},"alias":{"type":"string","maxLength":20,"description":"\"\" clears it."},"mainCharacter":{"type":"string","description":"Promote this character (by player id) to the member's main.","example":"thrall-tarren-mill"},"characters":{"type":"array","items":{"$ref":"#/components/schemas/RosterCharacterWrite"},"maxItems":50}}},"RosterMemberWriteResult":{"type":"object","properties":{"memberId":{"type":"string","example":"member_1717200000000_abc123def"},"member":{"$ref":"#/components/schemas/RosterMember"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["memberId","member","updatedAt"]},"RosterMemberDeleteResult":{"type":"object","properties":{"memberId":{"type":"string","example":"member_1717200000000_abc123def"},"deletedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["memberId","deletedAt"]},"WeekRef":{"type":"object","properties":{"raidSlug":{"type":"string","example":"liberation-of-undermine"},"weekNumber":{"type":"integer","example":3}},"required":["raidSlug","weekNumber"]},"ResetSummary":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Week 3 Heroic"},"weekRef":{"allOf":[{"$ref":"#/components/schemas/WeekRef"},{"type":["object","null"]}]},"eventRef":{"$ref":"#/components/schemas/EventRef"},"createdAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["resetId","name","weekRef","eventRef","createdAt","updatedAt","links"]},"EventRef":{"type":["object","null"],"properties":{"eventId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"665f1f77bcf86cd799439011"}},"required":["eventId"]},"ResetSetupBoss":{"type":"object","properties":{"bossSlug":{"type":"string","example":"vexie-and-the-geargrinders"},"hasBossNote":{"type":"boolean"},"noteId":{"type":["string","null"],"pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"assignmentId":{"type":["string","null"],"pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"links":{"type":"object","properties":{"note":{"type":["string","null"],"format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"assignment":{"type":["string","null"],"format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["note","assignment"]}},"required":["bossSlug","hasBossNote","noteId","assignmentId","links"]},"ResetSetup":{"type":"object","properties":{"setupId":{"type":"integer","example":1},"name":{"type":"string","example":"Main Roster"},"difficulty":{"type":"string","enum":["Heroic","Mythic"]},"bossOrder":{"type":"array","items":{"type":"string"}},"rosterPlayerIds":{"type":"array","items":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"}},"bosses":{"type":"array","items":{"$ref":"#/components/schemas/ResetSetupBoss"}}},"required":["setupId","name","difficulty","bossOrder","rosterPlayerIds","bosses"]},"ResetPlayer":{"type":"object","properties":{"playerId":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"},"name":{"type":"string","example":"Thrall"},"realm":{"type":"string","example":"tarren-mill"},"class":{"type":"string","example":"Shaman"},"spec":{"type":"string","example":"Enhancement"}},"required":["playerId","name","realm","class","spec"]},"ResetDetail":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Week 3 Heroic"},"weekRef":{"allOf":[{"$ref":"#/components/schemas/WeekRef"},{"type":["object","null"]}]},"eventRef":{"$ref":"#/components/schemas/EventRef"},"createdAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"players":{"type":"array","items":{"$ref":"#/components/schemas/ResetPlayer"}},"setups":{"type":"array","items":{"$ref":"#/components/schemas/ResetSetup"}},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["resetId","name","weekRef","eventRef","createdAt","updatedAt","players","setups","links"]},"ResetList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ResetSummary"}},"page":{"$ref":"#/components/schemas/Page"}},"required":["data","page"]},"NoteSummary":{"type":"object","properties":{"noteId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"customName":{"type":["string","null"]},"bossName":{"type":"string","example":"Vexie and the Geargrinders"},"bossSlug":{"type":["string","null"],"example":"vexie-and-the-geargrinders"},"difficulty":{"type":"string","example":"Heroic"},"accessLevel":{"type":"string","enum":["Public","Private"]},"actorCount":{"type":"integer","example":20},"noteEntryCount":{"type":"integer","example":47},"linkedReset":{"allOf":[{"$ref":"#/components/schemas/LinkedReset"},{"type":["object","null"]}]},"createdAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["noteId","customName","bossName","bossSlug","difficulty","accessLevel","actorCount","noteEntryCount","linkedReset","createdAt","updatedAt","links"]},"NoteDetail":{"type":"object","properties":{"noteId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"customName":{"type":["string","null"]},"bossName":{"type":"string","example":"Vexie and the Geargrinders"},"bossSlug":{"type":["string","null"],"example":"vexie-and-the-geargrinders"},"difficulty":{"type":"string","example":"Heroic"},"accessLevel":{"type":"string","enum":["Public","Private"]},"actorCount":{"type":"integer","example":20},"noteEntryCount":{"type":"integer","example":47},"linkedReset":{"allOf":[{"$ref":"#/components/schemas/LinkedReset"},{"type":["object","null"]}]},"createdAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["noteId","customName","bossName","bossSlug","difficulty","accessLevel","actorCount","noteEntryCount","linkedReset","createdAt","updatedAt","links"]},"NoteList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/NoteSummary"}},"page":{"$ref":"#/components/schemas/Page"}},"required":["data","page"]},"AssignmentDetail":{"type":"object","properties":{"assignmentId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"bossSlug":{"type":"string","example":"vexie-and-the-geargrinders"},"raidSlug":{"type":"string","example":"liberation-of-undermine"},"difficulty":{"type":"string","example":"Heroic"},"customName":{"type":["string","null"]},"rosterPlayerIds":{"type":"array","items":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"}},"blockCount":{"type":"integer","example":8},"linkedReset":{"allOf":[{"$ref":"#/components/schemas/LinkedReset"},{"type":["object","null"]}]},"createdAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["assignmentId","bossSlug","raidSlug","difficulty","customName","rosterPlayerIds","blockCount","linkedReset","createdAt","updatedAt","links"]},"SignupStatus":{"type":"string","enum":["present","absent","tentative","late","standby","pending"],"description":"Attendance status.","example":"present"},"CalendarSignup":{"type":"object","properties":{"memberId":{"type":"string","description":"Roster member id.","example":"m_abc123"},"displayName":{"type":["string","null"],"example":"Thrall"},"status":{"$ref":"#/components/schemas/SignupStatus"},"role":{"type":["string","null"],"enum":["tank","healer","melee","ranged",null],"description":"The member's main role: set on the roster, or derived from their main character's spec.","example":"healer"},"responded":{"type":"boolean","description":"True once this signup carries a real answer: the member (or an officer on their behalf) set the status, or a declared time-away period covers this night. False while the status is only the night's starting value that nobody has confirmed. On a night where `autoConfirmed` is true the starting value already counts as the answer, so render by `status` and ignore this flag.","example":false}},"required":["memberId","displayName","status","role","responded"]},"CalendarLinkedReset":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Week 3 Heroic"},"links":{"type":"object","properties":{"reset":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["reset"]}},"required":["resetId","name","links"]},"CalendarAnchoredSetup":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"resetName":{"type":"string","example":"Week 3 Heroic"},"setupId":{"type":"integer","example":1},"setupName":{"type":"string","example":"Main Roster"},"difficulty":{"type":"string","enum":["Heroic","Mythic"]},"enabledBossSlugs":{"type":"array","items":{"type":"string"},"description":"The bosses this setup plans to run, in its own order."}},"required":["resetId","resetName","setupId","setupName","difficulty","enabledBossSlugs"]},"CalendarEvent":{"type":"object","properties":{"eventId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"scheduleId":{"type":["string","null"],"pattern":"^[0-9a-f]{24}$","description":"Owning schedule, or null for a manual event.","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Wednesday Prog"},"date":{"type":"string","description":"Calendar date (YYYY-MM-DD).","example":"2026-03-25"},"startTime":{"type":"string","example":"18:00"},"endTime":{"type":"string","example":"21:00"},"tierId":{"type":"string","example":"midnight-s1"},"difficulty":{"type":"string","enum":["Heroic","Mythic"]},"status":{"type":"string","enum":["planned","cancelled"]},"autoConfirmed":{"type":"boolean","description":"True when this night treats every signup's starting status as final (an opt-out night: members are counted at their starting status unless they change it). False when members are expected to reply; then each signup's `responded` says who actually has, and an unresponded signup should be shown as awaiting a reply rather than at its seeded status.","example":false},"optional":{"type":"boolean","description":"True for an optional raid: the night is not included in attendance statistics. Set per schedule, with a per-night override.","example":false},"signups":{"type":"array","items":{"$ref":"#/components/schemas/CalendarSignup"}},"guests":{"type":"array","items":{"$ref":"#/components/schemas/CalendarGuest"}},"guestCount":{"type":"integer","example":0},"rosterSize":{"type":"integer","example":24},"linkedResets":{"type":"array","items":{"$ref":"#/components/schemas/CalendarLinkedReset"},"description":"Raid plans linked to this event. Empty when none."},"anchoredSetups":{"type":"array","items":{"$ref":"#/components/schemas/CalendarAnchoredSetup"},"description":"Setups pinned to this event as their raid night. Empty when none."},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp of the last change to anything this object shows: the event itself, its signups, a signup role edited on the roster, or a linked plan. Safe to poll against.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["eventId","scheduleId","name","date","startTime","endTime","tierId","difficulty","status","autoConfirmed","optional","signups","guests","guestCount","rosterSize","linkedResets","anchoredSetups","updatedAt","links"]},"CalendarGuest":{"type":"object","properties":{"id":{"type":"string","description":"Stable guest id within the event.","example":"g_abc123"},"name":{"type":"string","description":"Guest name as entered.","example":"Ashbringer"},"status":{"$ref":"#/components/schemas/SignupStatus"}},"required":["id","name","status"]},"CalendarEventList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEvent"}},"defaultRegion":{"type":"string","description":"The group's resolved region. Never the raw stored field.","example":"us"},"serverTimeZone":{"type":"string","description":"IANA zone the dates and times in this list are expressed in. Resolved, so it is always a usable zone even for a group that never set one.","example":"America/New_York"}},"required":["data","defaultRegion","serverTimeZone"]},"CalendarScheduleSlot":{"type":"object","properties":{"id":{"type":"string"},"dayOfWeek":{"type":"integer","description":"0 = Monday … 6 = Sunday (ISO weekday).","example":2},"startTime":{"type":"string","example":"18:00"},"endTime":{"type":"string","example":"21:00"}},"required":["id","dayOfWeek","startTime","endTime"]},"CalendarSchedule":{"type":"object","properties":{"scheduleId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Wednesday Prog"},"generationMode":{"type":"string","enum":["rolling","fixed"]},"enabledStatuses":{"type":"array","items":{"$ref":"#/components/schemas/SignupStatus"}},"defaultStatus":{"$ref":"#/components/schemas/SignupStatus"},"tierId":{"type":"string","example":"midnight-s1"},"difficulty":{"type":"string","enum":["Heroic","Mythic"]},"slots":{"type":"array","items":{"$ref":"#/components/schemas/CalendarScheduleSlot"}},"lastGeneratedUntil":{"type":["string","null"],"description":"How far events are generated (YYYY-MM-DD), or null."},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["scheduleId","name","generationMode","enabledStatuses","defaultStatus","tierId","difficulty","slots","lastGeneratedUntil","links"]},"CalendarScheduleList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CalendarSchedule"}}},"required":["data"]},"SignupWriteBody":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/SignupStatus"},"comment":{"type":"string","maxLength":500,"description":"Optional note (max 500 chars). Omit to leave it unchanged."}},"required":["status"]},"SignupWriteResult":{"type":"object","properties":{"memberId":{"type":"string"},"status":{"$ref":"#/components/schemas/SignupStatus"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["memberId","status","updatedAt"]},"KeySlotRole":{"type":"string","enum":["tank","healer","dps"],"description":"Seat role.","example":"healer"},"KeyGroupSlot":{"type":"object","properties":{"slotId":{"type":"string","enum":["tank","healer","dps-1","dps-2","dps-3"],"description":"Which of the five seats.","example":"dps-1"},"role":{"$ref":"#/components/schemas/KeySlotRole"},"characterName":{"type":["string","null"],"description":"The seated roster character, or null.","example":"Thrall"},"className":{"type":["string","null"],"example":"Shaman"},"specName":{"type":["string","null"],"example":"Enhancement"},"isGuest":{"type":"boolean","description":"True when the seat holds a hand-typed guest.","example":false},"guestName":{"type":["string","null"],"description":"Guest name as entered, or null.","example":null},"note":{"type":["string","null"],"description":"The occupant's own short note about their spot.","example":"leaving at 11"}},"required":["slotId","role","characterName","className","specName","isGuest","guestName","note"]},"KeyDungeon":{"type":"object","properties":{"id":{"type":"integer","example":12831},"name":{"type":"string","example":"Ara-Kara, City of Echoes"}},"required":["id","name"]},"KeyGroup":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"date":{"type":"string","description":"Run date (YYYY-MM-DD) in the group's region.","example":"2026-08-12"},"startTime":{"type":"string","description":"Start time (HH:mm, 24h).","example":"20:30"},"note":{"type":["string","null"],"description":"The organizer's short note.","example":"push week"},"dungeons":{"type":"array","items":{"$ref":"#/components/schemas/KeyDungeon"},"description":"Dungeons the group plans to run. Empty when untagged."},"openSeatCount":{"type":"integer","description":"How many of the five seats are free.","example":2},"slots":{"type":"array","items":{"$ref":"#/components/schemas/KeyGroupSlot"},"description":"The five seats, always in scarcity order."},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["group"]}},"required":["id","date","startTime","note","dungeons","openSeatCount","slots","updatedAt","links"]},"KeyGroupList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/KeyGroup"}},"defaultRegion":{"type":"string","description":"The group's resolved region. Never the raw stored field.","example":"us"},"serverTimeZone":{"type":"string","description":"IANA zone the dates and times in this list are expressed in. Resolved, so it is always a usable zone even for a group that never set one.","example":"America/New_York"}},"required":["data","defaultRegion","serverTimeZone"]},"KeyLfgCharacter":{"type":"object","properties":{"name":{"type":"string","example":"Thrall"},"className":{"type":["string","null"],"example":"Shaman"},"specName":{"type":["string","null"],"example":"Restoration"},"role":{"allOf":[{"$ref":"#/components/schemas/KeySlotRole"},{"type":["string","null"]}]}},"required":["name","className","specName","role"]},"KeyLfgWindow":{"type":"object","properties":{"date":{"type":"string","example":"2026-08-12"},"startTime":{"type":"string","example":"19:00"},"endTime":{"type":"string","example":"23:00"}},"required":["date","startTime","endTime"]},"KeyLfgEntry":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"characters":{"type":"array","items":{"$ref":"#/components/schemas/KeyLfgCharacter"},"description":"The characters this player would bring."},"anytime":{"type":"boolean","description":"True when the player named no windows, meaning they are free whenever.","example":false},"windows":{"type":"array","items":{"$ref":"#/components/schemas/KeyLfgWindow"},"description":"Windows still ahead. Empty when `anytime`."},"note":{"type":["string","null"],"example":"need 2 more +10s"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["id","characters","anytime","windows","note","updatedAt"]},"KeyLfgList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/KeyLfgEntry"}},"defaultRegion":{"type":"string","description":"The group's resolved region. Never the raw stored field.","example":"us"},"serverTimeZone":{"type":"string","description":"IANA zone the dates and times in this list are expressed in. Resolved, so it is always a usable zone even for a group that never set one.","example":"America/New_York"}},"required":["data","defaultRegion","serverTimeZone"]},"ReadinessMemberRef":{"type":"object","properties":{"memberId":{"type":"string","description":"Roster member id.","example":"m_abc123"},"displayName":{"type":"string","example":"Thrall"},"discordUserId":{"type":["string","null"],"description":"The member's linked Discord user id, or null when not linked.","example":"123456789012345678"}},"required":["memberId","displayName","discordUserId"]},"CalendarEventReadiness":{"type":"object","properties":{"eventId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"settings":{"type":"object","properties":{"signupTracked":{"type":"boolean","description":"Whether this group prefers to require signup answers; callers may use this as a preference signal."},"simsTracked":{"type":"boolean","description":"Whether this group expects gear sims; callers may use this as a preference signal."},"wishlistsTracked":{"type":"boolean","description":"Whether this group prefers to require loot wishlists; callers may use this as a preference signal."},"droptimizerMaxAgeDays":{"type":"integer","description":"Sims older than this many days count as stale.","example":14}},"required":["signupTracked","simsTracked","wishlistsTracked","droptimizerMaxAgeDays"]},"notSignedUp":{"type":"array","items":{"$ref":"#/components/schemas/ReadinessMemberRef"},"description":"Members who have not answered the signup for this night."},"staleSims":{"type":"array","items":{"$ref":"#/components/schemas/ReadinessMemberRef"},"description":"Members whose newest gear sim is older than the staleness window, or who never ran one."},"missingWishlists":{"type":"array","items":{"$ref":"#/components/schemas/ReadinessMemberRef"},"description":"Members with no loot wishlist selections on any active character. Presence-based: wishlists have no staleness window."},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"event":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group","event"]}},"required":["eventId","settings","notSignedUp","staleSims","missingWishlists","links"]},"ChangeFeedKind":{"type":"string","enum":["event.created","event.cancelled","event.uncancelled","event.updated","event.deleted","signup.status-changed","discord.linked","discord.unlinked","application.submitted","application.decided","recruiting.listing-verified","recruiting.listing-unlisted","recruiting.listing-displaced","reset.published","reset.unpublished","reset.updated","cooldowns.updated","member.joined","member.left","member.removed","roster.claimed"],"description":"What happened.","example":"signup.status-changed"},"ChangeFeedActor":{"type":"object","properties":{"kind":{"type":"string","enum":["member","officer","api-key"],"description":"Whether a member acted for themselves, an officer acted, or an API key did."},"name":{"type":["string","null"],"description":"Display name of who acted, when known.","example":"Thrall#1234"}},"required":["kind","name"]},"ChangeFeedEntry":{"type":"object","properties":{"kind":{"$ref":"#/components/schemas/ChangeFeedKind"},"occurredAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"actor":{"$ref":"#/components/schemas/ChangeFeedActor"},"changedByOfficer":{"type":"boolean","description":"True when someone other than the member themselves made the change."},"memberId":{"type":["string","null"],"description":"Roster member the change is about, when it is about one."},"memberName":{"type":["string","null"],"example":"Thrall"},"eventId":{"type":["string","null"],"pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"eventName":{"type":["string","null"],"example":"Wednesday Prog"},"eventDate":{"type":["string","null"],"description":"Calendar date (YYYY-MM-DD) of the event, when known."},"fromStatus":{"allOf":[{"$ref":"#/components/schemas/SignupStatus"},{"type":["string","null"]}]},"toStatus":{"allOf":[{"$ref":"#/components/schemas/SignupStatus"},{"type":["string","null"]}]},"characterName":{"type":["string","null"],"description":"For an application: the character applied on.","example":"Thrall"},"characterClass":{"type":["string","null"],"description":"For an application: the character class.","example":"Shaman"},"role":{"type":["string","null"],"description":"For an application: the role applied as.","example":"healer"},"status":{"type":["string","null"],"enum":["accepted","declined",null],"description":"For an application decision: whether it was accepted or declined.","example":"accepted"},"guildName":{"type":["string","null"],"description":"For a public-listing change (verified, unlisted, or taken over by another team): the guild the listing is for. On a takeover, only the guild name crosses this boundary — never the new holder's identity.","example":"Wednesday Wipes"},"applyUrl":{"type":["string","null"],"format":"uri","description":"For an application decision: the applicant's application page, where they see the outcome.","example":"https://api.wowutils.com/v1"},"applicantDiscordUserId":{"type":["string","null"],"description":"For an application decision: the applicant's Discord user id, present only when they linked Discord, so a bot can message them the outcome."},"planName":{"type":["string","null"],"description":"For a plan published, unpublished or edited: the name of the plan.","example":"Week 3 Manaforge Omega"},"bossName":{"type":["string","null"],"description":"For a cooldown plan that was edited: the boss it is for, with its difficulty.","example":"Dimensius, the All-Devouring (mythic)"},"changedKeys":{"type":["array","null"],"items":{"type":"string"},"description":"For an edited event: which of the night's fields changed, so a consumer can say \"the time moved\" instead of just \"something changed\". Drawn from a closed set of publicly documented event fields; a change to anything outside it is simply not listed. Null for every other kind.","example":["startTime","endTime"]},"links":{"type":"object","properties":{"event":{"type":["string","null"],"format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["event"]}},"required":["kind","occurredAt","actor","changedByOfficer","memberId","memberName","eventId","eventName","eventDate","fromStatus","toStatus","characterName","characterClass","role","status","guildName","applyUrl","applicantDiscordUserId","planName","bossName","changedKeys","links"]},"ChangeFeedList":{"type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/components/schemas/ChangeFeedEntry"}},"nextCursor":{"type":"string","description":"Position to poll from next. Always present."}},"required":["entries","nextCursor"]},"SetupEntry":{"type":"object","properties":{"id":{"type":"string","description":"Roster memberId when the character maps to a roster member, else the player id (\"name-realm\").","example":"m_abc123"},"displayName":{"type":"string","example":"Thrall"},"playerClass":{"type":"string","example":"Shaman"},"playerSpec":{"type":"string","example":"Enhancement"},"characterId":{"type":"string","description":"The assigned character's player id (\"name-realm\"). Matches `characters[].playerId` on the roster endpoint, so the two can be joined. Distinguishes which alt is assigned when a member has several.","example":"thrall-tarrenmill"},"characterName":{"type":"string","description":"The assigned character's own name, which differs from `displayName` when a member plays an alt.","example":"Thrall"}},"required":["id","displayName","playerClass","playerSpec"]},"SetupBossAssignment":{"type":"object","properties":{"bossSlug":{"type":"string","example":"vexie-and-the-geargrinders"},"enabled":{"type":"boolean","description":"False when the setup has this boss disabled (skipped). Disabling is non-destructive, so a skipped boss keeps its assignments."},"inEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"outEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}}},"required":["bossSlug","enabled","inEntries","outEntries"]},"SetupFull":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"setupId":{"type":"integer","example":1},"name":{"type":"string","example":"Main Roster"},"difficulty":{"type":"string","enum":["Heroic","Mythic"]},"eventRef":{"$ref":"#/components/schemas/EventRef"},"tierId":{"type":["string","null"],"description":"Raid tier (season) the setup was created for. Null for setups created before tiers were tracked.","example":"midnight-s1"},"enabledBossSlugs":{"type":"array","items":{"type":"string"},"description":"The bosses this setup plans to run, in its own order."},"benchEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"inSetupEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"bossAssignments":{"type":"array","items":{"$ref":"#/components/schemas/SetupBossAssignment"}},"shareUrl":{"type":"string","format":"uri","description":"Shareable URL to this setup's player assignments page on the Viserio website. Distinct from the API-traversal `links` below, which point back into this API.","example":"https://wowutils.com/viserio-cooldowns/raid/player-sheet/69b553d59f60a39b15a97892/1"},"links":{"type":"object","properties":{"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"reset":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["group","reset"]}},"required":["resetId","setupId","name","difficulty","eventRef","tierId","enabledBossSlugs","benchEntries","inSetupEntries","bossAssignments","shareUrl","links"]},"ResetSetupRef":{"type":"object","properties":{"setupId":{"type":"integer","example":1},"name":{"type":"string","example":"Main Roster"}},"required":["setupId","name"]},"LatestReset":{"type":"object","properties":{"groupId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"name":{"type":"string","example":"Week 3 Heroic"},"weekRef":{"allOf":[{"$ref":"#/components/schemas/WeekRef"},{"type":["object","null"]}]},"eventRef":{"$ref":"#/components/schemas/EventRef"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"setups":{"type":"array","items":{"$ref":"#/components/schemas/ResetSetupRef"}},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["groupId","resetId","name","weekRef","eventRef","updatedAt","setups","links"]},"SetupAssignmentWrite":{"type":"object","properties":{"playerId":{"type":"string","minLength":1,"description":"Player id (\"name-realm\") or roster member id.","example":"thrall-tarrenmill"},"spec":{"type":"string","minLength":1,"maxLength":30,"description":"Spec for this boss. Omit to use the player's default spec.","example":"Restoration"}},"required":["playerId"]},"SetupAssignmentsWriteBody":{"type":"object","properties":{"assignments":{"type":"array","items":{"$ref":"#/components/schemas/SetupAssignmentWrite"},"maxItems":30}},"required":["assignments"]},"SetupAssignmentsWriteResult":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"setupId":{"type":"integer","example":1},"bossSlug":{"type":"string","example":"vexie-and-the-geargrinders"},"inEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"outEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["resetId","setupId","bossSlug","inEntries","outEntries","updatedAt"]},"SetupActiveWriteBody":{"type":"object","properties":{"active":{"type":"boolean","description":"true = in the setup, false = benched."}},"required":["active"]},"SetupActiveWriteResult":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"setupId":{"type":"integer","example":1},"playerId":{"type":"string","description":"The resolved player id (when the request named a member id).","example":"thrall-tarrenmill"},"active":{"type":"boolean"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["resetId","setupId","playerId","active","updatedAt"]},"SetupCreateBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":60,"description":"Defaults to \"Setup N\".","example":"Split B"},"difficulty":{"type":"string","enum":["Heroic","Mythic"],"description":"Defaults to \"Mythic\"."}}},"SetupCreateResult":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"setupId":{"type":"integer","example":2},"name":{"type":"string","example":"Split B"},"difficulty":{"type":"string","enum":["Heroic","Mythic"]},"inSetupEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"benchEntries":{"type":"array","items":{"$ref":"#/components/schemas/SetupEntry"}},"links":{"type":"object","properties":{"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"reset":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["group","reset"]},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["resetId","setupId","name","difficulty","inSetupEntries","benchEntries","links","updatedAt"]},"SetupDeleteResult":{"type":"object","properties":{"resetId":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"setupId":{"type":"integer","example":2},"remainingSetupIds":{"type":"array","items":{"type":"integer"},"description":"The setups left on this reset. Empty is a valid state.","example":[1,3]},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"}},"required":["resetId","setupId","remainingSetupIds","updatedAt"]},"WishlistSelection":{"type":"object","properties":{"itemId":{"type":"integer","example":212448},"source":{"type":"string","enum":["mplus","raid","crafted"],"description":"Where the item drops.","example":"raid"},"slot":{"type":"string","description":"Equipment slot the item fills.","example":"Trinket"},"priority":{"type":"integer","minimum":1,"maximum":5,"description":"1 (best in slot) through 5 (do not want).","example":1},"difficulty":{"type":"string","enum":["normal","heroic","mythic","mplus"],"description":"Difficulty this pick is for; 'mplus' marks a dungeon drop.","example":"heroic"},"note":{"type":"string","description":"The player's own note on this pick.","example":"Only if the trinket does not drop."},"done":{"type":"boolean","enum":[true],"description":"Present only when the player has marked this pick finished: they took a good enough alternative and no longer want the item. Absent means still wanted.","example":true},"dpsGainPercent":{"type":"number","description":"How much this item raises the character's damage, in percent, from the team's droptimizer sims: the same number the loot board shows for this pick. For a healer sim it is the healing gain. Absent when no sim covers the item.","example":1.84},"hpsGainPercent":{"type":"number","description":"Healing gain in percent, present when the character's sim measured healing.","example":2.1},"catalyzedIntoItemId":{"type":"integer","description":"Present when the gain above is what the item is worth after a trip to the catalyst: the item it turns into.","example":249950}},"required":["itemId","source","slot","priority"]},"Wishlist":{"type":"object","properties":{"characterId":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"},"characterName":{"type":"string","example":"Thrall"},"characterClass":{"type":"string","example":"shaman"},"characterSpec":{"type":["string","null"],"example":"enhancement"},"selections":{"type":"array","items":{"$ref":"#/components/schemas/WishlistSelection"}},"createdAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["characterId","characterName","characterClass","characterSpec","selections","createdAt","updatedAt","links"]},"WishlistList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Wishlist"}}},"required":["data"]},"DroptimizerSummary":{"type":"object","properties":{"characterId":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"},"characterName":{"type":"string","example":"Thrall"},"characterClass":{"type":"string","example":"shaman"},"characterSpec":{"type":"string","example":"enhancement"},"profileKey":{"type":["string","null"],"description":"Which profile this sim is (e.g. \"heroic-max\", \"mplus-vault\").","example":"heroic-max"},"source":{"type":["string","null"],"enum":["raidbots","qelive",null],"description":"Which sim site produced it.","example":"raidbots"},"baselineDps":{"type":"number","description":"The sim baseline (0 for QE Live healing reports).","example":1250000},"reportId":{"type":"string","example":"aBcD1234"},"reportUrl":{"type":"string","format":"uri","description":"Open the full sim at the source.","example":"https://www.raidbots.com/simbot/report/aBcD1234"},"importedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"links":{"type":"object","properties":{"self":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"},"group":{"type":"string","format":"uri","description":"Absolute URL for traversal.","example":"https://api.wowutils.com/v1"}},"required":["self","group"]}},"required":["characterId","characterName","characterClass","characterSpec","profileKey","source","baselineDps","reportId","reportUrl","importedAt","links"]},"DroptimizerList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DroptimizerSummary"}}},"required":["data"]},"DroptimizerImportBody":{"type":"object","properties":{"url":{"type":"string","minLength":1,"description":"A Raidbots or QE Live report link, or its id.","example":"https://www.raidbots.com/simbot/report/aBcD1234"},"profileKey":{"type":"string","description":"Optional: import just this profile when a report carries several. By default every profile the group tracks is imported. Send \"raid-bonus-roll\" with a Raidbots Droptimizer run on Mythic at upgrade 1/6 to value bonus rolls.","example":"heroic-max"}},"required":["url"]},"DroptimizerImportEntry":{"type":"object","properties":{"profileKey":{"type":["string","null"],"description":"Which profile this entry imported (e.g. \"heroic-max\", \"mplus-drops\")."},"warnings":{"type":"array","items":{"type":"string"},"description":"Non-blocking notes about this profile."}},"required":["profileKey","warnings"]},"DroptimizerImportResult":{"type":"object","properties":{"characterId":{"type":"string","description":"Lowercase \"name-realm\" player identifier.","example":"thrall-tarren-mill"},"profileKey":{"type":["string","null"]},"source":{"type":"string","enum":["raidbots","qelive"]},"importedAt":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp.","example":"2026-05-16T12:00:00.000Z"},"reportUrl":{"type":"string","format":"uri"},"warnings":{"type":"array","items":{"type":"string"},"description":"Non-blocking notes about the imported sims, across every imported profile."},"imports":{"type":"array","items":{"$ref":"#/components/schemas/DroptimizerImportEntry"},"description":"Every profile this call imported. A QE Live report can carry both a raid and an M+ scan; each imported one is an entry here, and the top-level fields describe the first."}},"required":["characterId","profileKey","source","importedAt","reportUrl","warnings","imports"]},"OwnedItemsPushAccount":{"type":"object","properties":{"characters":{"type":"array","items":{"$ref":"#/components/schemas/OwnedItemsPushCharacter"},"description":"The account's characters."},"warboundItems":{"type":"array","items":{},"description":"Accepted and ignored. A warbound item belongs to the account rather than one character, so attributing it to a roster member would mark loot owned for someone who cannot be wearing it."}},"additionalProperties":{}},"OwnedItemsPushBody":{"type":"array","items":{"$ref":"#/components/schemas/OwnedItemsPushAccount"}},"OwnedItemsPushCharacter":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":64,"example":"Nelumbo"},"server":{"type":"string","maxLength":64,"description":"Realm name or slug.","example":"Alexstrasza"},"class":{"type":"string","maxLength":32,"description":"Uppercase class token.","example":"DRUID"},"lastLogout":{"type":"integer","minimum":0,"description":"Unix seconds of last logout. 0 or omitted when never recorded."},"items":{"type":"array","items":{"$ref":"#/components/schemas/OwnedItemsPushItem"},"description":"Non-warbound items on this character: equipped, bags and bank."}},"required":["name"],"additionalProperties":{}},"OwnedItemsPushItem":{"type":"object","properties":{"itemId":{"type":"integer","minimum":0,"description":"Blizzard item id. Wins over the id inside `link`."},"itemLevel":{"type":"integer","minimum":0,"maximum":10000,"description":"Effective item level."},"link":{"type":"string","maxLength":2000,"description":"Full in-game item link. Bonus ids are read from it; omit and only item level ranks the item."},"slotEquipped":{"type":["integer","null"],"minimum":0,"maximum":50,"description":"Equipment slot id when equipped, null when in bags or bank."}},"required":["itemId","itemLevel"],"additionalProperties":{}},"OwnedItemsPushResult":{"type":"object","properties":{"charactersUpserted":{"type":"integer","description":"Characters that had no snapshot before this push."},"charactersReplaced":{"type":"integer","description":"Characters whose snapshot this push replaced."},"itemsStored":{"type":"integer","description":"Items stored across every character in this push."},"skipped":{"type":"object","properties":{"characters":{"type":"integer"},"items":{"type":"integer"}},"required":["characters","items"],"description":"Rows dropped: characters with no usable items or over the cap, and cosmetic/duplicate items."}},"required":["charactersUpserted","charactersReplaced","itemsStored","skipped"]}},"parameters":{}},"paths":{"/v1":{"get":{"tags":["Discovery"],"summary":"API discovery root","description":"Entry point. Follow the `links` in the response to reach your group and its resources.","responses":{"200":{"description":"Discovery root.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Root"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups":{"get":{"tags":["Groups"],"summary":"The key's group (single-item list)","description":"Your group, returned as a single-item list.","responses":{"200":{"description":"The key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupList"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}":{"get":{"tags":["Groups"],"summary":"Group detail","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"}],"responses":{"200":{"description":"The group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupDetail"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/roster":{"get":{"tags":["Roster"],"summary":"Full roster export","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"}],"responses":{"200":{"description":"Roster members and characters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Roster"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/roster/members":{"post":{"tags":["Roster"],"summary":"Add a roster member","description":"Add a person to the roster, optionally with their characters. Characters are matched against the character data Viserio already tracks for your group (for example the linked guild): class and spec come from there, and an unknown character rejects the write with a 400 naming it. A member with no characters yet does not appear in the roster export until one is added. Changes show up live for anyone with the roster open.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterMemberCreateBody"}}}},"responses":{"200":{"description":"The created member.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterMemberWriteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/roster/members/{memberId}":{"put":{"tags":["Roster"],"summary":"Update a roster member","description":"Partial update: omit a field to leave it unchanged; send \"\" to clear the battletag or alias. Characters merge additively: listed characters are added (or get the status you give them), unlisted characters are left alone; retire one with status \"inactive\". Making a character \"main\" also moves the member's main-character pointer. A claimed member's battletag cannot be changed here (it comes from their Battle.net account).","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","minLength":1,"description":"Roster member id.","example":"m_abc123"},"required":true,"description":"Roster member id.","name":"memberId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterMemberUpdateBody"}}}},"responses":{"200":{"description":"The updated member.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterMemberWriteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Roster"],"summary":"Remove a roster member","description":"Take a person off the roster. Their characters stay in the group's character pool, so nothing that already references them breaks — only the roster entry goes. They are also pulled from upcoming raid nights they had signed up for, and the raid size on those nights drops by one. Past events keep their name so history stays readable. Changes show up live for anyone with the roster open.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","minLength":1,"description":"Roster member id.","example":"m_abc123"},"required":true,"description":"Roster member id.","name":"memberId","in":"path"}],"responses":{"200":{"description":"The removed member.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterMemberDeleteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets":{"get":{"tags":["Resets"],"summary":"Resets (paged)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Page size (1-100, default 50).","example":50},"required":false,"description":"Page size (1-100, default 50).","name":"limit","in":"query"},{"schema":{"type":"string","description":"Opaque cursor from a previous page."},"required":false,"description":"Opaque cursor from a previous page.","name":"cursor","in":"query"}],"responses":{"200":{"description":"Resets list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetList"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets/{resetId}":{"get":{"tags":["Resets"],"summary":"Reset detail + setups (structure only)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"resetId","in":"path"}],"responses":{"200":{"description":"Reset structure.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetDetail"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/notes":{"get":{"tags":["Notes"],"summary":"Notes (metadata, paged)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Page size (1-100, default 50).","example":50},"required":false,"description":"Page size (1-100, default 50).","name":"limit","in":"query"},{"schema":{"type":"string","description":"Opaque cursor from a previous page."},"required":false,"description":"Opaque cursor from a previous page.","name":"cursor","in":"query"}],"responses":{"200":{"description":"Notes list (metadata only).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteList"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/notes/{noteId}":{"get":{"tags":["Notes"],"summary":"Note metadata (no body)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"noteId","in":"path"}],"responses":{"200":{"description":"Note metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoteDetail"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/assignments/{assignmentId}":{"get":{"tags":["Assignments"],"summary":"Assignment metadata (no body)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"assignmentId","in":"path"}],"responses":{"200":{"description":"Assignment metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignmentDetail"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/latest-reset":{"get":{"tags":["Resets"],"summary":"Latest reset + setup list","description":"The group's latest published reset: the newest raid week's most recently updated plan. Drafts never appear here. Because the newest raid week comes first, editing an older week's reset does not make it \"latest\". Need a specific reset every time? Address it by its resetId instead.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"}],"responses":{"200":{"description":"Latest published reset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LatestReset"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets/{resetId}/setups/{setupId}/full":{"get":{"tags":["Setups"],"summary":"Full setup (by reset)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"resetId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"}],"responses":{"200":{"description":"Full setup detail.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupFull"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/latest-reset/setups/{setupId}/full":{"get":{"tags":["Setups"],"summary":"Full setup (latest reset)","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"}],"responses":{"200":{"description":"Full setup detail.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupFull"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets/{resetId}/setups/{setupId}/bosses/{bossSlug}/assignments":{"put":{"tags":["Setups"],"summary":"Set a boss's assignments (by reset)","description":"Replace one boss's assigned players on a setup. `playerId` accepts the ids the setup read returns (player ids or roster member ids). Every assigned player must already be in the setup (not benched), so set them active first via the active endpoint. Omit `spec` to use a player's default spec. Changes show up live for anyone with the planner open.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"resetId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"},{"schema":{"type":"string","minLength":1,"example":"vexie-and-the-geargrinders"},"required":true,"name":"bossSlug","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupAssignmentsWriteBody"}}}},"responses":{"200":{"description":"The boss's updated in/out split.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupAssignmentsWriteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/latest-reset/setups/{setupId}/bosses/{bossSlug}/assignments":{"put":{"tags":["Setups"],"summary":"Set a boss's assignments (latest reset)","description":"Replace one boss's assigned players on a setup. `playerId` accepts the ids the setup read returns (player ids or roster member ids). Every assigned player must already be in the setup (not benched), so set them active first via the active endpoint. Omit `spec` to use a player's default spec. Changes show up live for anyone with the planner open.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"},{"schema":{"type":"string","minLength":1,"example":"vexie-and-the-geargrinders"},"required":true,"name":"bossSlug","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupAssignmentsWriteBody"}}}},"responses":{"200":{"description":"The boss's updated in/out split.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupAssignmentsWriteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets/{resetId}/setups/{setupId}/players/{playerId}/active":{"put":{"tags":["Setups"],"summary":"Set a player's in-setup status (by reset)","description":"Put a player into the setup (`active: true`) or bench them (`active: false`). `playerId` accepts a player id or a roster member id. A player must be active before they can be assigned to a boss.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"resetId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"},{"schema":{"type":"string","minLength":1,"description":"Player id or roster member id.","example":"thrall-tarrenmill"},"required":true,"description":"Player id or roster member id.","name":"playerId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupActiveWriteBody"}}}},"responses":{"200":{"description":"The updated status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupActiveWriteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/latest-reset/setups/{setupId}/players/{playerId}/active":{"put":{"tags":["Setups"],"summary":"Set a player's in-setup status (latest reset)","description":"Put a player into the setup (`active: true`) or bench them (`active: false`). `playerId` accepts a player id or a roster member id. A player must be active before they can be assigned to a boss.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"},{"schema":{"type":"string","minLength":1,"description":"Player id or roster member id.","example":"thrall-tarrenmill"},"required":true,"description":"Player id or roster member id.","name":"playerId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupActiveWriteBody"}}}},"responses":{"200":{"description":"The updated status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupActiveWriteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets/{resetId}/setups":{"post":{"tags":["Setups"],"summary":"Add a setup (by reset)","description":"Add a setup to a reset. Everything but the name and difficulty is filled in for you, exactly as the planner fills it in: the current tier's bosses, and the roster carried over from the reset's last setup (or your group roster when the reset has no setups yet). Anyone already assigned to a boss in another setup starts on the bench here, so you cannot double-book a raider by accident. A reset holds at most 7 setups.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"resetId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupCreateBody"}}}},"responses":{"200":{"description":"The created setup.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupCreateResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/latest-reset/setups":{"post":{"tags":["Setups"],"summary":"Add a setup (latest reset)","description":"Add a setup to a reset. Everything but the name and difficulty is filled in for you, exactly as the planner fills it in: the current tier's bosses, and the roster carried over from the reset's last setup (or your group roster when the reset has no setups yet). Anyone already assigned to a boss in another setup starts on the bench here, so you cannot double-book a raider by accident. A reset holds at most 7 setups.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupCreateBody"}}}},"responses":{"200":{"description":"The created setup.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupCreateResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/resets/{resetId}/setups/{setupId}":{"delete":{"tags":["Setups"],"summary":"Remove a setup (by reset)","description":"Remove a setup from a reset. Any cooldown notes and assignment blocks that were attached to it are released, not deleted, so you can attach them somewhere else. Removing the last setup is allowed.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"resetId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"}],"responses":{"200":{"description":"The removed setup.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupDeleteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/latest-reset/setups/{setupId}":{"delete":{"tags":["Setups"],"summary":"Remove a setup (latest reset)","description":"Remove a setup from a reset. Any cooldown notes and assignment blocks that were attached to it are released, not deleted, so you can attach them somewhere else. Removing the last setup is allowed.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"integer","example":1},"required":true,"name":"setupId","in":"path"}],"responses":{"200":{"description":"The removed setup.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupDeleteResult"}}}},"400":{"description":"Write rejected (invalid body, or not allowed in this state).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Missing/unknown/revoked group key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Group has API sharing disabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource missing or not part of this key's group.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded. Retry after the period in the Retry-After header.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"The API is temporarily overloaded. Try again shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/groups/{groupId}/calendar-events":{"get":{"tags":["Calendar"],"summary":"Calendar events (bounded, date-ascending)","description":"A bounded, date-ascending window (not cursor-paginated). Filter by `scheduleId` and/or `upcoming=true` (today onward); `limit` caps the result.","parameters":[{"schema":{"type":"string","pattern":"^[0-9a-f]{24}$","description":"Stable, opaque resource id (24-character hex).","example":"69b553d59f60a39b15a97892"},"required":true,"description":"Stable, opaque resource id (24-character hex).","name":"groupId","in":"path"},{"schema":{"type":"string","description":"Restrict to one schedule."},"required":false,"description":"Restrict to one schedule.","name":"scheduleId","in":"query"},{"schema":{"type":"string","enum":["true","false"],"description":"If \"true\", only events from today onward."},"required":false,"description":"If \"true\", only events from today onward.","name":"upcoming","in":"query"},{"schema":{"type":"integer
[...]
